[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pytz = "==2019.1"
selenium = "==3.141.0"
urllib3 = "==1.25.2"
Django = "==1.11.20"

[requires]
python_version = "3.7"
